.cartoon {
    background: linear-gradient(to top, #000000 10%, #1414142d 100%), url("./assets/hero-cartoon.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.movie{
    background: linear-gradient(to top, #000000 10%, #14141453 100%), url("./assets/hero-movies.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.anime{
    background: linear-gradient(to top, #000000 10%, #14141417 100%), url("./assets/hero-anime.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.sport{
  background: linear-gradient(to top, #000000 10%, #14141417 100%), url("./assets/body-bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.music{
  background: linear-gradient(to top, #000000 10%, #14141417 100%), url("./assets/hero-music.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.anime::before, .movie::before, .cartoon::before, .sport::before, .music::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: blur(0px);
    z-index: -1; 
}

.card{
    background: linear-gradient(to bottom left, #1b1b1b39, #4c4c4a5c);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
    opacity: 0.9;
    background: linear-gradient(to bottom left, #4c4c4a5c, #1b1b1b39);
}
.quote{
    height: fit-content;
    /* background: linear-gradient(to left, #F0C45A, #d5a637); */
    
}

.color-change-2x {
    background: linear-gradient(to right, #ffc336, #fff8d7, #8d7a1b);
    background-size: 300%;
    -webkit-animation: color-change-2x 1.5s linear infinite alternate;
    animation: color-change-2x 1.5s linear infinite alternate;
  }
  
  @-webkit-keyframes color-change-2x {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }
  
  @keyframes color-change-2x {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }

  .wrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .marquee {
    display: flex;
    width: 300%;
    animation: marquee 15s linear infinite alternate;
    animation-play-state: paused;
}
  .mySwiper{
    height: 115vh;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-35%); /* يتحرك لنصف العرض */
    }
  }
  
  .feature {
    overflow-y: hidden;
  }

  @media (max-width: 768px) {
    .marquee{
        animation: marquee 3s linear infinite alternate;
        width: 100% !important;
    }
    .mySwiper{
        height: 100vh;
      }
  }


  #whatsapp .whtsapp {
    position: fixed;
    transform: all 0.5s ease;
    background-color: #F0C45A;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 70px;
    left: 20px;
    border: 0;
    z-index: 9999;
    width: 60px;
    height: 60px;
    line-height: 50px;
  }
  
  #whatsapp .whtsapp:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70px;
    height: 70px;
    background-color: #F0C45A;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  #whatsapp .whtsapp:focus {
    border: none;
    outline: none;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
  
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }